*.tar.gz
*.rrd
*.tgz
*.bak
*.jar
logs/*
plugins/cloud/cloud-fortis/web/novncjs/*
plugins/hybrid-cloud/web/*
storage/
tftpboot/pxelinux.cfg/*
plugins/chatbot/*
plugins/collectd/*
plugins/dhcpd/*
plugins/dns/*
plugins/local-server/*
web/base/plugins/*
web/base/designplugins/*
web/base/server/storage/*
web/base/server/cloud/*
web/base/server/event/errors/*
web/boot-service/*
plugins/kvm/web/kvm-stat/*
.DS_Store
web/action/*
diff
diff-full
plugins/cloud/cloud-fortis/web/tmp/
plugins/puppet/web/puppet/.svn/*
plugins/template/web/.running
