/* Override default margin in dashboard */
.aa_server h2 {
	margin-top: 30px;
	border-bottom: 1px solid #ccc;
}

.aa_server h2 .widget-action {
	font-size:12px;
	opacity: 0.7;
	text-decoration: none;
	color: #353535;
}
.aa_server h2 .widget-action *{
	vertical-align: baseline;
}
.aa_server .eventtable td {
	font-size: 85%;	
}
/*
.aa_server .donut-chart-legend {
	margin-top:-25px;
}
*/
.aa_server .donut-chart-legend ul {
	list-style: none;
	margin: 0;
	padding-left: 40px;
}
.aa_server .donut-chart-legend ul li {
	font-size: 1vw;
	width: 100%;
	float: left;
}

.aa_server .donut-chart-legend li .legend-tile {
	/* width: 10px;
	height: 10px; */
	background: #bababa;
	float: left;
	display: inline;
	margin: 5px 5px 0 0;
}
div.legend-tile > span {
	position: relative;
	display: none;
}

div.legend-tile:hover > span{
  position: absolute;
  top: 0;
  left: 15px;
  display: block;
  background: #42cca5;
  color: white;
  padding: 0px 3px;
  border: 1px solid #fff;
}

div.legend-tile:hover > span:after {
	right: 100%;
	top: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #fff;
	border-width: 6px;
	margin-top: -6px;
}

ul#stepForm, ul#stepForm li {
	margin: 0;
	padding: 0;
}
ul#stepForm li {
	list-style: none outside none;
} 
label{
	margin-top: 10px;
}
.help-inline-error{
	color:red;
}
ul.compose-form-menu {
	list-style-type: none;
	padding: 0;
	margin: 0 0 25px 0;
}
ul.compose-form-menu li{
	display: inline-block;
	width: 24.65%;
	text-align: center;
	cursor: pointer;
	padding: 10px 0;
	border: 1px solid #f3f3f3;
	border-radius: 4px;
	background: #eee;
}

ul.compose-form-menu li.active{
	background-color: #579ddb;
	color: #fff;
	font-weight: bold;
}

div.modal-dialog{
	width: 60%;
	max-width: 700px;
}

div.modal-content {
	border-radius: 1%;
}

div.modal-content label {
	width: 98%;
}

div.modal-content div.col-lg-6 {
	width: 98%;
}

div.modal-header {
	border-bottom: 1px solid #e5e5e5;
	position: initial;
}

div.modal-footer {
	background: #fff;
	padding: 0;
	border-top: 0;
	border-bottom-left-radius: 1%;
	border-bottom-right-radius: 1%;
}

div.button-holder {
	text-align: right;
	margin: 0;
	padding: 0;
	width: 98%;
}

form#composeform {
	background: #eee;
	border-radius: 1%;
	padding: 1%;
}

#sf2 h4, #sf3 h4, #sf4 h4{
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
}

.cc-selector-2{
	margin: 20px 0;
}

.cc-selector-2 input{
	position:absolute;
	z-index:999;
}

.visa{background-image:url(/htvcenter/base/img/vmware_vsphere.png);}
.visa3{background-image:url(/htvcenter/base/img/vsphere.png);}
.mastercard{background-image:url(/htvcenter/base/img/physical_server.png);}
.mastercard2{background-image:url(/htvcenter/base/img/htbaselogo.png);}
.mastercard02{background-image:url(/htvcenter/base/img/physical_server.png);}
.aws{background-image:url(/htvcenter/base/img/aws_cloud.png);}
.azure{background-image:url(/htvcenter/base/img/azure_cloud.png);}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.cc-selector-2 input{ margin: 38px 0 0 52px;}
.cc-selector-2 label{ padding-top: 80px; margin-right: 25px; margin-left: 25px;}

.drinkcard-cc{
	float: none;
	cursor:pointer;
	background-size:contain;
	background-repeat:no-repeat;
	display:inline-block;
	min-width: 70px;
	width:70px !important;
	height:90px;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.btn-rounded {
	border-radius: 3px;
}

/*** custom checkboxes ***/

div.servers-to-compose {
	max-height: 300px;
	overflow-y: scroll;
}

div.servers-to-compose input[type=checkbox] { display:none; } /* to hide the checkbox itself */
div.servers-to-compose input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

div.servers-to-compose input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
div.servers-to-compose input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

div.servers-to-compose input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
div.servers-to-compose input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

div..servers-to-compose table {
	width: 100%;
	border-top: 0;
}

.summary-table{
	width: 100%;
}

#summary-compose-type {
	text-transform: capitalize;
}

.has-error {
	color: #a94442;
}

input.has-error, select.has-error {
	border: 1px solid #a94442;
	border-radius: 3px;
	background-color: #f9f2f4;
}

input.compose-name {
	border-radius: 3px;
}

div#composed-servers{
	background-color: #fff;
	width: 99%;
	border: 1px solid #f0f2f9;
	border-spacing: 5px;
	display: table;
}

div#composed-servers input[type="search"] {
	border: 1px solid #e1e5ea;
	padding: 3px;
}

div.compose-header {
	width: 75%; float: left; margin-bottom: 25px;
}

div.compose-header h2 {
	margin-left: 0 !important;
	padding: 0 !important;
}

div.compose-button {
	width: 24%; float: right; text-align: right;
	margin-right: 1%;
}

div.compose-status {
	display: block;
	margin: 0; text-align: center;
	padding: 3px 5px; width: 60px;
	border-radius: 10px;
	color: #fff; font-weight: bold;
}

div.compose-active {
	background: #8cc63f;
}
div.compose-inactive {
	background: #fb434a;
}

div#composed-servers p.compose {
	margin: 10px;
	padding: 5px;
	font-weight: bold;
}
div#composed-servers div.htmlobject_box {
	margin: 10px 0;
}
div#composed-servers div.left {
	width: 30%; float: left;
}

div#composed-servers div.right {
	width: 60%; float: left;
	padding-top: 10px;
}

div#composed-servers div#buttons {
	text-align: right;
	margin-bottom: 25px;
}

ul.compose-pop-over-menu {
	margin: 0;
	padding: 0;
}

ul.compose-pop-over-menu li{
	display: block;
	list-style-type: none;
	width: 100%;
	padding: 10px 8px;
	border: 1px solid #e4e9f0;
}

div.available-hosts {
	border: 1px solid #e7ebee;
	width: 100%;
}

input#ajax_host_filter {
	float: right;
	margin-bottom: 10px;
}