.htmlobject_td.resource_id,
.htmlobject_td.resource_icon,
.htmlobject_td.resource_state {
	text-align:center;
	width:25px;
}
.htmlobject_td.data {
	text-align:left;
	width:400px;
}

#resource_filter {
	margin: 0 0 0 0 !important;
}
#resource_type_filter {
	margin: 0 0 30px 0 !important;
}


div#resource_tab1 div#buttons div.htmlobject_box div.left {
	margin-left: 0px;
}
#add-new-resource a.add {
	right: 15% !important;
}